body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9ebefd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#box {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-content {
  display: inline-block;
  width: 250px;
  vertical-align: middle;
  margin-left: 15px;
}

.person {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.photo {
  width: 70px;
  position: relative;
  display: inline-block;
  height: 70px;
  vertical-align: middle;
}

.photo img {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.name {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin-bottom: 6px;
}

.age {
  display: inline-block;
  width: 100%;
}

button {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: aqua;
}